
body{
  color: #40514E;
  text-align: center;
  margin:0;
  position: relative;
  font-family: 'Andika New Basic', sans-serif;
}
h1{
  width: 30%;
  margin: 0 auto;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 5.625rem;
  color:#11999E;
  line-height: 2;
}
h3{
  font-family: 'Langar', cursive;
  color: #11999E;
  padding-bottom: 10px;


}
h2{
  font-size: 2.5rem;
  font-family: 'Shadows Into Light', cursive;
  margin-top: 0px;
  color: #11999E;
  padding: 10px;
}
p{
  line-height: 2;
}
a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin-left: 100px auto;
}
.h2-heading{
  font-weight: normal;
}
.top-container{
  background-color: #E4F9F5;
  padding-top: 100px;
}
.middle-container{
  padding: 100px 0;
}
.bottom-container{
  color: #11999E;
  background-color: #66bfbf;
  padding: 50px 0 20px;

}

.top-cloud{
margin-left: 350px;
}
.bottom-cloud{
  position: absolute;
}
.moje-zdj{
  width: 20%;
  height: 300px;
}
.computer-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.mobileapp-img{
  width: 25%;
  float: right;
  margin-bottom: 20px;

}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.btn{
  color: #11999E
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;

}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 5px;
   line-height: 5px;
   color: #FFFFFF;
   font-family: Arial;
   width: 150px;
   font-size: 20px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
